<div class="pageBackground">

  <div id="pageContainer" class="orangeBackground">

    <div class="logoBanner">
      <span id="theLogo">
        <img  width="300" alt="OscarProject Logo" src="assets/img/logo.png">
      </span>
      <span id="mostPopularMoviesBanner">
        Curent most popular movies
      </span>
    </div>


    <div id="header" class="sheetyBackground">
      <div class="gap"></div>
      <h1>Header</h1>
    </div>
    <div id="left-column">
      <h2 id="leftMenuHeader">Left Menu</h2>
      <ul id="leftMenuContent">

        <li><a [routerLink]="'/'"> Main page </a></li>
        <li><a [routerLink]="'/login'"> Login </a></li>
        <li><a [routerLink]="'/users/add'"> Register </a></li>
        <li><a [routerLink]="'/users'"> User list </a></li>
        <li><a [routerLink]="'/users/details'"> My account </a></li>
        <li><a [routerLink]="'/rates'"> My rates </a></li>
        <li><a [routerLink]="'/movies'"> Browse movies </a></li>
        <li><a [routerLink]="'/movies/add'"> Add movie </a></li>


      </ul>
    </div>
    <div id="right-column">
      <h2 id="rightMenuHeader">Right Menu</h2>
      <ul id="rightMenuContent">
        <li><a href="#">Menu 5</a></li>
        <li><a href="#">Menu 6</a></li>
        <li><a href="#">Menu 7</a></li>
      </ul>
    </div>
    <div id="center-column" class="mainTextBackground">
      <h2>Center</h2>
      <router-outlet></router-outlet>

    </div>



    <div id="footer" class="yellowBackground">
      &#169; 2019 Kamil Fundakowski
      <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eos corrupti fuga. Debitis, hic recusandae.
      Culpa quod exercitationem perspiciatis quae vero eligendi delectus odio cum et, enim animi ullam ratione?</div>
  </div>
</div>
