
.singleUser {
    border:1px solid black;
    padding-bottom: 50px;
    position: relative;
    
}

.userLogin:hover {
    color:  red;
    cursor: pointer;
    
}

.userLogin {
    font-size: 200%;
}

.ratesLink:hover {
    color: red;
    font-size: 120%;
    line-height: 80%;
    cursor: pointer;
}


@media screen and (min-width:1300px) {

}

@media screen and (min-width:600px) and (max-width:1299px) {

}

@media screen and (min-width:400px) and (max-width:599px) {

}

@media screen and (max-width:399px) {

}