<p>
    Movie Details!
  </p>
  
  <div class="container">
    <div>
      <label for="name">Name</label>
      <div type="text" class="test" id="name"> {{this.movie.title}}</div>
    </div>
  
    <div>
      <label for="premiereDate">Premiere Date</label>
      <div class="test" id="premiereDate">{{this.movie._premiereDate}}</div>
    </div>
  
    <div>
      <label for="description">Description</label>
      <div class="test" id="description" >{{this.movie.description}}</div>
    </div>
  <input type="submit" value="Edit" [routerLink]="['/movies/details/' + movie.id + '/edit']">
  </div>
  