<p>
    Movie Details!
  </p>

  <iframe style="width:80%; height:auto" 
  src="https://www.youtube.com/embed/wsDOFF1y_uI"
   frameborder="0" allow="accelerometer; 
   autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <div class="container">
   <div id="movieDetails">
      <div>
          <label for="name">Title</label>
          <div type="text" class="test" id="name"> {{this.movie.title}}</div>
        </div>
      
        <div *ngIf="movie.premiereDate">
          <label for="premiereDate">Premiere Date</label>
          <div class="test" id="premiereDate">{{this.movie._premiereDate}}</div>
        </div>
      
        <div *ngIf="movie.description">
          <label for="description">Description</label>
          <div class="test" id="description" >{{this.movie.description}}</div>
        </div>
      <input type="submit" value="Edit" [routerLink]="['/movies/details/' + movie.id + '/edit']">
      <!-- <div class="divider"></div>
      <input type="submit" value="Delete" (click)="deleteMovie()"> -->
   </div>
  </div>
  <br>
   <span id="addRate">
    <app-rate-create [movieId]="id"></app-rate-create>
  </span>
  <span id="myRates">
    <app-movie-rates [movieId]="id"></app-movie-rates>
  </span>
  

  
  