<p>
  Edit your informations!
</p>

<div class="container">
  <div>
    <label class="test" for="login">Login</label>
    <input type="text" class="test" id="login" name="login" required [(ngModel)]="this.user.login" placeholder="Insert your login here">
  </div>

  <div>
    <label class="test" for="password">Password</label>
    <input type="password" class="test" id="password" name="password" required [(ngModel)]="this.user.password" placeholder="Insert your password here">
  </div>
 
  <div>
    <label class="test" for="retypePassword">Retype your password </label>
    <input type="password" class="test" id="retypePassword" name="retypePassword" required [(ngModel)]="this.retypePassword" placeholder="Insert your password again here">
  </div>

  <div>
    <label class="test" for="email">Email</label>
    <input type="email" class="test" id="email" name="email" required [(ngModel)]="this.user.email" placeholder="Insert your email here">
  </div> 

  <div>
    <label class="test" for="firstname">Firstname</label>
    <input type="text" class="test" id="firstname" name="firstname" required [(ngModel)]="this.user.firstname" placeholder="Insert your firstname here">
  </div>

  <div>
    <label class="test" for="lastname">Lastname</label>
    <input type="text" class="test" id="lastname" name="lastname" required [(ngModel)]="this.user.lastname" placeholder="Insert your lastname here">
  </div>

<!-- <input type="submit" value="Edit" [routerLink]="['/movies/details/' + movie.id + '/edit']"> -->
<!-- <div class="divider"></div> -->
<input type="submit" value="Save changes" (click)="editUser()">
</div>