<div id="movieListContainer">

  <div>
    <div *ngFor="let movie of movies">

      <div class="singleMovie">
        <h4 class="movieTitle">{{movie.title}}  </h4>
        <span> Premere date: {{movie._premiereDate}}  </span>
        <span class="movieVote">
          <span>Rate amount: <span class="movieVoteAmount" *ngIf="movie.voteAmount"> {{movie.voteAmount}}</span></span>
          
          <div *ngIf="!movie.voteAmount"> No rates for this movie yet</div>
        </span>
        <div class="movieDescription" *ngIf="movie.description">{{movie.description}}</div>
        <div class="movieDescription" *ngIf="!movie.description">Nobody added description for this movie yet</div>
      </div>

      

    </div>
  </div>

</div>
