<p>
  Add Movie!
</p>

<div class="container">
  <div>
    <label class="test" for="name">Name</label>
    <input type="text" class="test" id="name" name="name" required [(ngModel)]="this.movie.title" placeholder="Insert movie's title here">
  </div>

  <div>
    <label class="test" for="premiereDate">Premiere Date</label>
    <input class="test" id="premiereDate" type="date" name="premiereDate" required [(ngModel)]="this.movie.premiereDate">
  </div>

  <div>
    <label class="test" for="description">Description</label>
    <textarea class="test" name="description" id="description" [(ngModel)]="this.movie.description"></textarea>
  </div>
<input type="submit" value="Add Movie" (click)="addMovie()">
</div>
