<div id="rateListContainer">
<h4>My rates:</h4>
    <div>
      <div *ngFor="let rate of rates" >
        
        <div class="singleRate" (click)="openRateEditor(rate.id,rate.score)" title="Click to edit!">
          <span class="movieVote">
            Score: 
            <span class="score">{{rate.score}}/100</span> 
             <br>
            <h4 *ngIf="rate.wantToSee">Want to see again.</h4>  
            <h4 *ngIf="!rate.wantToSee">Dont want to see it again.</h4> 
            
          </span>
        <br>
          <div class="commentOnRate" *ngIf="rate.rateComment">Comment: <br>{{rate.rateComment}}</div>
          <div *ngIf="!rate.rateComment">With no additional comment.</div>
        </div>
  
        <div id="container" *ngIf="editRate==rate.id" >
            Score:
            <div [id]="'progressBarOuter'+rate.id" class="progressBarOuter" (click)="getClickPosition($event,rate.id)">
              <div [id]="'progressBar'+rate.id" class="progressBar">{{rate.score}}/100</div>
            </div>
            <br>
            <div>
              Want to see:
              <div>
                <span class="trueSwitch" *ngIf="rate.wantToSee">True &#9989;</span>
                <span class="disabledSwitch" *ngIf="!rate.wantToSee" (click)="setWantToSee(true,rate.id)">True</span>
                <span class="divider"></span>
                <span class="falseSwitch" *ngIf="!rate.wantToSee">False &#9989;</span>
                <span class="disabledSwitch" *ngIf="rate.wantToSee" (click)="setWantToSee(false,rate.id)">False</span>
              </div>
            </div>
          
            <div>
              <label class="test" for="comment">Comment:</label>
              <textarea class="test" name="comment" id="comment" [(ngModel)]="rate.rateComment"></textarea>
            </div>
            <input type="submit" value="Change" (click)="submitRate(rate.id)">
          </div>
        
  
      </div>
    </div>
  
  </div>
  